body {
    margin: 0;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #EEEEEE;
    overflow: hidden;
    align-items: center;
}

div {
    background-color: #DDDDDD;
    font-weight: bold;
    text-decoration: dashed;
    font-size: large;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.clear {
    clear: both;
}

.one{
    width: calc(100% - 30px) ;
    display: block;
    background-color: #EEEEEE;
}

.one div {
    width: 100%;
    float: left;
    margin-left: 15px;
    display: block;
}

.two{
    width: 100%;
    display: block;
    background-color: #EEEEEE;
}

.two div {
    width: calc((100% - 60px ) / 3);
    float: left;
    margin-left: 15px;
    display: block;
}

.three {
    width: 100%;
    display: block;
    background-color: #EEEEEE;
}

.three div {
    width: calc((100% - 45px )/2 );
    float: left;
    margin-left: 15px;
    display: block;
}

.four{
    width: calc((100%) );
    float: left;
    display: block;
    background-color: #EEEEEE;
}

.four div {
    width: calc((100% - 75px) / 4);
    float: left;
    margin-left: 15px;
    display: block;
}