body {
    margin: 0;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #EEEEEE;
    overflow: hidden;
    align-items: center;
}

div {
    background-color: #DDDDDD;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.clear {
    clear: both;
}
.one{
    width: calc(100% - 30px) ;
    display: block;

}
.two{
    width: calc((100% - 30px)) ;
    display: block;
    background-color: #EEEEEE;

}
.two div {
    width: calc((100% - 150px) / 3);
    float: left;
    margin-left: 15px;
    display: block;
}
.three {
    width: calc((100%  - 30px) );
    float: left;
    display: block;
    background-color: #EEEEEE;

}
.three div {
    width: calc((100% - 90px )/2 );
    float: left;
    margin-left: 15px;
    display: block;
}
.four{
    width: calc((100% - 30px) );
    float: left;
    display: block;
        background-color: #EEEEEE;

}
.four div {
    width: calc((100% - 180px) / 4);
    float: left;
    margin-left: 15px;
    display: block;
}